*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;

}

body{
  font-family: 'PT Mono', monospace;
  font-size: 14px;
}

header{
  display: flex;
  height: 50px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: -10px;
  position: fixed; /* Hacemos el encabezado fijo */
  width: 100%; /* Ancho completo */
  top: 0; /* Pegamos el encabezado en la parte superior */
  z-index: 1000; /* Aseguramos que el encabezado esté por encima de otros elementos */

}

a{
  text-decoration:none;
  color: black;
}

.logo{
  font-size: 10px;
  display: flex;
  align-items: center;
}

.logo img{
  height: 45px;
  margin-right: 6px;
  margin-left: 8px;

}

.card-container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 46px;
  justify-content: flex-start;

}

.card{
  width: 420px;
  height: auto;
  border-top: 1px solid black;
  overflow: hidden;
  margin:4px;


}

.card img{
  width: 80%;
  height: auto;
  margin-left:15px;



}


.card-content{
  padding:14px;
  margin-bottom: -8px; /* Cambia -8px a 0px */


}




.card-content p{
  color:black;
  font-size: 12px;
  line-height:1.5;

}


.titulocard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tituloproyecto{
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.btn{

  font-size: 12px;
  color: red;
  border: 1px solid red;
  padding:3px 10px;
  border-radius: 20px;
  margin-left: auto;
  text-decoration: none;
}

.trabajos{
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
}

.back{
  text-decoration: underline;
  font-weight: bold;
}

.hashtag{
  font-weight: bold;
}

p{
  margin-bottom: 8px;
}

@media only screen and (max-width: 767px) {
    .mobile-hover {
        opacity: 1; /* Asegúrate de que el video sea visible inicialmente */
        transition: opacity 0.3s ease; /* Transición suave para el efecto hover */
    }

    .mobile-hover:hover {
        opacity: 0.7; /* Cambia la opacidad en hover */
    }
}

/* Estilos del botón */
.more-images-btn {
  font-family: 'PT Mono', monospace;
  font-size: 11px;
  background-color: white;
  color: #007BFF;
  padding: 7px 10px;
  border: 1px solid #007BFF;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 14px; /* Alinea el botón a la izquierda */
  margin-top: 3px;
  margin-bottom: 4px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Cambia los estilos al pasar el mouse sobre el botón
  font-family: 'PT Mono', monospace;
  background-color: grey;
  color: #0056b3;
  border-color: #0056b3;
}
 */

 .popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popup-content {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content img {

  width: 65%;
  height: 65%;
  object-fit: contain;
}

.close-popup-btn {
  font-family: 'PT Mono', monospace;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #000000; /* Puedes ajustar el color de fondo según tus preferencias */
  color: rgb(190, 190, 190); /* Puedes ajustar el color del texto según tus preferencias */
  border-radius: 100%;
  width: 35px; /* Ajusta el ancho al mismo valor que la altura para hacerlo circular */
  height: 35px; /* Ajusta la altura al mismo valor que el ancho para hacerlo circular */
  display: flex;
  align-items: center;
  justify-content: center;



}

.additional-images img {
cursor: pointer;
border: 2px solid transparent; /* Agrega un borde transparente por defecto */
}

.additional-images img:hover {
border-color: #3498db; /* Cambia el color del borde cuando el mouse está sobre la imagen */
}


@media screen and (max-width: 700px){

  nav{
    display: none;
  }

  .back {
        display: block; /* Otra opción podría ser 'display: flex;' o 'display: inline-block;' según tus necesidades */
    }

    .popup-content img {
      width: 90%;
      height: 90%;
      
    }



}




@media screen and (min-width: 701px) {
    /* Estilos que se aplicarán solo cuando la pantalla sea mayor a 700px */
    .back {
        display: none;
    }

   
    




}