* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'PT Mono', monospace;
  font-size: 14px;
}

header {
  display: flex;
  height: 50px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: -10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 45px;
  margin-right: 6px;
  margin-left: 8px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 46px;
}

.card {
  display: flex;
  flex-direction: row;
  width: 800px; /* Largo de la tarjeta */
  height: auto;
  overflow: hidden;
  margin: 4px;
  padding-top: 10px;
  border-top: 1px solid black;
}

.card-content {
  width: 24%; /* 20% del ancho de la tarjeta */
  padding: 14px;
}

.blue-space {
  width: 36%; /* 50% del ancho de la tarjeta */
  background-color: white;
}

.rest-of-card {
  width: 40%; /* 30% del ancho de la tarjeta */
  padding: 14px;
}



.card-content p {
  color: black;
  font-size: 12px;
  line-height: 1.5;
}

.titulocard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tituloproyecto {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.btn {
  font-size: 12px;
  color: red;
  border: 1px solid red;
  padding: 3px 10px;
  border-radius: 20px;
  margin-left: auto;
  text-decoration: none;
}

.trabajos {
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
}

.back {
  text-decoration: underline;
  font-weight: bold;
}

.hashtag {
  font-weight: bold;
}

p {
  margin-bottom: 8px;
}

@media only screen and (max-width: 767px) {
  .mobile-hover {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .mobile-hover:hover {
    opacity: 0.7;
  }
}

.more-images-btn {
  font-family: 'PT Mono', monospace;
  font-size: 11px;
  background-color: white;
  color: #000000;
  padding: 7px 10px;
  border: 1px solid #000000;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 14px;
  margin-top: 8px;
  margin-bottom: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popup-content {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content img {
  width: 65%;
  height: 65%;
  object-fit: contain;
}

.close-popup-btn {
  font-family: 'PT Mono', monospace;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #000000;
  color: rgb(190, 190, 190);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.additional-images img {
  cursor: pointer;
  border: 2px solid transparent;
}

.additional-images img:hover {
  border-color: #3498db;
}

@media screen and (max-width: 700px) {
  nav {
    display: none;
  }

  .back {
    display: block;
  }

  .popup-content img {
    width: 90%;
    height: 90%;
  }
}

@media screen and (min-width: 701px) {
  .back {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .card {
    width: 100%;
    max-width: auto;
    margin-right: auto;
  }
}


@media only screen and (max-width: 767px) {
  /* Estilos para dispositivos móviles */
  body {
    font-size: 12px; /* Tamaño de fuente más pequeño para dispositivos móviles */
  }

  .card {
    width: 100%; /* Ancho completo para dispositivos móviles */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alineado a la izquierda */
  }

  .card-content,
  .rest-of-card {
    width: 100%; /* Ancho completo para los elementos de la tarjeta en dispositivos móviles */
    
  }

  .rest-of-card {
    margin-left: -12px; /* Ajustar el margen izquierdo a 0 */
    margin-top: -20px; /* Ajustar el margen izquierdo a 0 */
  }

  .links {
    display: inline-block;
    margin-top: 10px; /* Ajusta según sea necesario */
  }
}


.blue-space {
  position: relative;
}

.blue-space-text {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  color: rgb(0, 0, 0);
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold; /* Agregamos negrita */

}



